#todo-list{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(15, 14, 14);
    
    
    
    
}

button{
    background-color: rgb(187, 187, 226);
    padding: 10px;
    border-radius: 10px;
}

input{
     padding: 10px; 
    border-radius: 5px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.todo-item{
     margin-top: 20px; 
     
}
 .h1{ 
    margin-left: 30px;
}
.h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
}